@import "../../node_modules/@volvo-cars/css/dist/styles.css";
.img-logo {
  width: 20%;
  height: 100%;
}


.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scroll{
  overflow-x: hidden;
  overflow-y: hidden;
}